.ratedPlacesCardContextContainer {
    background-color: rgba(253, 251, 248, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
}

.topRatedPlacesCardsContainer:hover {
  transform: scale(1.1);
  z-index: 2;

}

.topRatedPlacesCardsContainer:hover .likeButton{
  transform: translateY(-1080%);
}

.topRatedPlacesCardsContainer:hover .rateIconBox{
  top: 2.5rem;
}

.topRatedPlacesCardsContainer:hover .ratedPlacesCardContextContainer {
  position: absolute;
  bottom: 2rem;
  padding: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}


.topRatedPlaceContainer .slick-track {
  display: flex !important;
  justify-content: space-between;
  gap: 0 !important;
}

.topRatedPlaceContainer .slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: auto;
}

.rateIconBox {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 20rem !important;
}

.rateIconBox {
    border-radius: 20rem !important;
}

.ratedPlacesCardContextTextBox {
  position: relative;
  display: inline-block;
  cursor: pointer;
}


.ratedPlacesCardContextTextBox:hover .locationMapPreview {
  display: block;
}

.topRatedPlacesCardsContainer {
  width: 100%;
  max-width: 50rem;
  transition: transform 0.3s ease;
}

.topRatedPlacesCardsContainer .MuiCard-root {
  width: clamp(10rem, 29vw, 32rem);
}

.topRatedPlaceContainer .nextArrow {
  right: -25px;
}

.topRatedPlaceContainer .prevArrow {
  left: -25px;
}

@media (max-width: 1024px) {
  .topRatedPlacesCardsContainer {
    max-width: 100%;
  }

  .topRatedPlacesCardsContainer .MuiCard-root{
    width: clamp(20rem, 40vw, 32rem);
  }
}

@media (max-width: 768px) {
  .topRatedPlacesCardsContainer {
    max-width: 100%;
  }

  .topRatedPlacesCardsContainer .MuiCard-root {
    width: clamp(9rem, 85vw, 32rem);
  }
}