.firstCard {
    width: 14.6rem;
    height: 9.6rem;
    border-radius: 0.5rem;
    position: absolute;
    right: 3%;
    top: 4%;
    z-index: 9;
}

.secondCard {
    width: 14.6rem;
    height: 9.6rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 4%;
    left: 3%;
    z-index: 9;
}

.thirdCard {
    width: 18.5rem;
    height: 12rem;
    border-radius: 0.5rem;
    position: absolute;
    right: 8%;
    bottom: 8%;
}

.dashboardAddContainer {
    background-color: rgba(5, 125, 212, 0.5);
    position: relative;
    width: 28rem;
    min-height: 23rem;
}

.dashAddHeadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    position: absolute;
    left: 3%;
    top: 6%;
    width: 12rem;
}

.dashAddHeading {
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    max-width: 100%;
    line-height: 22px;
}