.firstCard {
    width: 52%;
    max-width: 14.6rem;
    height: clamp(6rem, 10vw, 9.6rem);
    border-radius: 0.5rem;
    position: absolute;
    right: 3%;
    top: 4%;
    z-index: 9;
}

.secondCard {
    width: 52%;
    max-width: 14.6rem;
    height: auto;
    height: clamp(6rem, 10vw, 9.6rem);
    position: absolute;
    bottom: 4%;
    left: 3%;
    z-index: 9;
}

.thirdCard {
    width: 66%;
    max-width: 18.5rem;
    height: clamp(7rem, 12vw, 12rem);
    border-radius: 0.5rem;
    position: absolute;
    right: 8%;
    bottom: 8%;
}

.dashboardAddContainer {
    background-color: rgba(5, 125, 212, 0.5);
    position: relative;
    width: 100%;
    max-width: 29rem;
    height: clamp(18rem, 24vw, 23rem);
    box-sizing: border-box;
}

.dashboardAddCardsWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 29rem;
  min-height: 100%;
}

.dashAddHeadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44%;
    position: absolute;
    left: 3%;
    top: 5%;
    max-width: 9.25vw;
    z-index: 95;
}

.dashAddHeading {
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    color: #fff;
    font-size: clamp(0.8rem, 1.1vw, 1.5rem);
    font-weight: 600;
    text-align: start;
    max-width: 100%;
    line-height: 1.6rem;
    z-index: 99;
}
