.userPanelStatisticsBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 54vw;
}

.userPanelStatisticsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}