.calendarContainer {
  width: 100%;
}

.calendarWrapper {
  transition: transform 0.3s ease;
}

.rdrCalendarWrapper  {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  padding: 0.5rem;
  height: auto;
  max-width: 32rem;
}

.rdrMonth {
  width: auto;
  height: auto;
  max-width: 100%;
}

.calendarComponentContainer {
  width: 100%;
}

.rdrMonths {
  width: 92%;
  height: auto;
  padding: 0.5rem;
  max-width: 28rem;
}