.contactList li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-left: 0;
}

.contactList li svg {
  width: 24px;
  height: 24px;
  margin-right: 2rem;
}

.contactList li a {
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
}

.contactList {
  list-style: none;
  padding: 0;
}

.contactsAndLocation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}

.contacts h2 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 2rem;
}

.aboutCompany h2 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.aboutCompany p {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 2rem;
  text-align: justify;
  text-indent: 3rem;
}

.aboutTeam p {
  font-size: 20px;
  line-height: 28px;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: justify;
  text-indent: 3rem;
}

.aboutTeam h3 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 2rem;
  text-align: center;
}

.foundersPhoto {
  width: 28.6vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

.foundersPhoto img {
  width: 100%;
  height: 30vw;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 3vw;
}

.foundersInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(162, 162, 199);
  border-bottom-left-radius: 3vw;
  border-top-right-radius: 3vw;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.foundersInfo p {
  font-size: 20px;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.foundersInfo h4 {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.teamPhotosBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.managerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(162, 162, 199);
  border-bottom-left-radius: 3vw;
  border-top-right-radius: 3vw;
  width: 100%;
}

.managerInfo p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.managerInfo h4 {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.managerPhoto {
  width: 21vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.managerPhoto img {
  width: 100%;
  height: 25vw;
  border-radius: 0.5rem;
}

.teamPhotosBox img:hover {
  position: fixed;
  height: 60vh;
  width: auto;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 9;
}

.lawyerAndDogPhoto {
  width: 13vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lawyerAndDogPhoto img {
  width: 100%;
  height: 12.4vw;
}

.lawyerImg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.dogImg {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.lawyerAndDogInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5.2vw;
  background-color: rgb(162, 162, 199);
}

.lawyerAndDogPhoto h4 {
  font-size: 16px;
  text-align: center;
  margin: 0;
  font-weight: lighter;
  width: 100%;
}

.lawyerAndDogPhoto h4 b {
  font-weight: bold;
}

.transportManagerPhoto {
  width: 21vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.transportManagerPhoto img {
  width: 100%;
  height: 25vw;
  border-radius: 0.5rem;
}

.transportManagerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(162, 162, 199);
  border-bottom-left-radius: 3vw;
  border-top-right-radius: 3vw;
  width: 100%;
}

.transportManagerInfo p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0 0.5rem 0.5rem 0.5rem;
}
.transportManagerInfo h4 {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.teamPhotosBox h4 {
  text-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .teamPhotosBox {
    display: grid;
    grid-template-columns: 44vw 44vw;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
  }

  .teamPhotosBox img:hover {
  position: fixed;
  height: 60vh;
  width: auto;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 9;
}

  .foundersPhoto {
    width: 100%;
    height: 60vw;
  }

  .foundersPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .foundersInfo p {
  font-size: 18px;
}

.foundersInfo h4 {
  font-size: 20px;
}

  .managerPhoto {
    width: 100%;
    height: 60vw;
  }

  .managerPhoto img {
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }

  .managerInfo p {
  font-size: 18px;
}

.managerInfo h4 {
  font-size: 20px;
}

  .lawyerAndDogPhoto {
    width: 100%;
    height: 65vw;
  }

  .lawyerAndDogPhoto img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    border-radius: 0;
  }

  .lawyerImg {
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
  }

  .dogImg {
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
  }

  .lawyerAndDogPhoto h4 {
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 0;
    text-align: center;
    font-size: 18px;
  }

  .transportManagerPhoto {
    width: 100%;
    height: 65vw;
  }

  .transportManagerPhoto img {
    width: 100%;
    height: 55vw;
    object-fit: cover;
  }

  .transportManagerInfo p {
  font-size: 18px;
}

.transportManagerInfo h4 {
  font-size: 20px;
}

  .contacts h2 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 1rem;
}

.contactList li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.contactList li svg {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.contactList li a {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}
}

@media (max-width: 767px) {
  .teamPhotosBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
  }

  .teamPhotosBox img:hover {
  position: fixed;
  height: 60vh;
  width: auto;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 9;
}

  .foundersPhoto {
    width: 100%;
    height: 90vw;
  }

  .foundersPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .managerPhoto {
    width: 100%;
    height: 90vw;
    position: relative;
  }

  .managerPhoto img {
    width: 100%;
    height: 90vw;
    border-bottom-left-radius: 3vw;
    object-fit: cover;
  }

  .foundersInfo p {
  font-size: 18px;
}

.foundersInfo h4 {
  font-size: 20px;
}

  .managerInfo {
    position: absolute;
    bottom: 0;
  }

  .managerInfo p {
  font-size: 18px;
}

.managerInfo h4 {
  font-size: 20px;
}

  .lawyerAndDogPhoto {
    width: 100%;
    height: 100%;
  }

  .lawyerAndDogPhoto img {
    width: 100%;
    height: 90vw;
    object-fit: cover;
    border-radius: 0;
  }

  .lawyerAndDogInfo {
  height: 10vw;
}

.lawyerAndDogPhoto h4 {
  font-size: 18px;
}

.transportManagerPhoto {
    width: 100%;
    height: 90vw;
    position: relative;
  }

  .transportManagerPhoto img {
    width: 100%;
    height: 90vw;
    border-top-right-radius: 3vw;
    object-fit: cover;
  }

  .transportManagerInfo {
    position: absolute;
    top: 0;
  }

  .transportManagerInfo p {
  font-size: 18px;
}

.transportManagerInfo h4 {
  font-size: 20px;
}

.contactsAndLocation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contactsLocation {
  width: 85vw !important;
  height: auto;
}

.contacts h2 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 1rem;
}

.contactList li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.contactList li svg {
  width: 18px;
  height: 18px;
  margin-right: 1rem;
}

.contactList li a {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

.aboutCompany h2 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 1rem;
}

.aboutCompany p {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 0.5rem;
  text-indent: 1rem;
}

.textAboutTeam {
  font-size: 16px !important;
  line-height: 18px !important;
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
  text-indent: 1rem !important;
}

.aboutTeam h3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0.5rem;
}

.aboutCompany {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
}