.homeContainer {
    display: flex;
    flex-direction: row;
    width: 90vw;
    padding: 2rem 4rem;
    gap: 2rem;
}

.homeContext {
    display: flex;
    flex-direction: column;
    width: 66vw;
}

.dashboardContainer {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.foreignHomeStyle {
    width: 100%;
}

.localHomeStyle {
    width: 100%;
}

.worldHomeStyle {
    width: 100%;
}

@media (max-width: 768px) {
  .homeContainer {
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem;
  }

  .homeContext {
    width: 80%;
  }

  .dashboardContainer {
    width: 20%;
    margin-top: 2rem;
  }
}

/* Mobil üçün daha kiçik ekran */
@media (max-width: 480px) {
  .homeContainer {
    padding: 1rem;
    gap: 1rem;
  }
}

