.toursContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    padding: 2rem 3rem;
}

.foreignToursStyle {
    width: 100%;
}

.localToursStyle  {
    width: 100%;
}

.worldToursStyle {
    width: 100%;
}