
.cardContainer {
  padding-right: 1rem;
  box-sizing: border-box;
  width: 100%;
  flex: 0 0 100%;
}

@media (min-width: 1024px) and (max-width: 1300px) {
 
  .cardContainer {
    width: 100%;
    flex: 0 0 auto;
  }

}

@media (max-width: 768px) {

  .cardContainer {
    padding-right: 0.5rem;
    flex: 0 0 100%;
  }

  .customArrow.nextArrow {
    right: -10px;
  }

  .customArrow.prevArrow {
    left: -10px;
  }
}

@media (max-width: 480px) {

  .cardContainer {
    padding: 0 0.15rem;
  }

  .customArrow {
    display: none;
  }
}
