.foreignToursContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1rem;
}

.foreignToursContainer h1 {
  margin-left: 3rem;
}

.foreignToursSlider {
  width: 94.5vw;
}

.foreignHomeStyle .foreignToursSlider {
  width: 99%;
}

.cardContainer {
  padding-right: 1rem;
  box-sizing: border-box;
  width: 100%;
  flex: 0 0 100%;
}

.tourNameLabel {
  font-size: 1.75vw !important;
  color: #f0f0f0 !important;
  font-weight: bolder !important;
  margin-bottom: 0.5rem !important;
}

@media (min-width: 1024px) and (max-width: 1300px) {
 
  .cardContainer {
    width: 100%;
    flex: 0 0 auto;
  }

  .tourNameLabel {
  font-size: 2.2vw !important;
}

}

@media (min-width: 767px) and (max-width: 1023px) {

.tourNameLabel {
  font-size: 2.75vw !important;
}

}

@media (max-width: 768px) {

  .cardContainer {
    padding-right: 0.5rem;
    flex: 0 0 100%;
  }

  .tourNameLabel {
  font-size: 5vw !important;
}


  .customArrow.nextArrow {
    right: -10px;
  }

  .customArrow.prevArrow {
    left: -10px;
  }
}

@media (max-width: 480px) {

  .cardContainer {
    padding: 0 0.15rem;
  }

  .customArrow {
    display: none;
  }
}
