.foreignToursMediaContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

.topSliderCard:hover .mediaCardContextContainer {
  position: absolute;
  bottom: 0.75rem;
}

.bottomSliderCard:hover .mediaCardContextContainer {
  position: absolute;
  bottom: 0.5rem;
}


.foreignToursMediaCardsBox .doubleSlider {
  width: 100%;
  max-width: 84vw;
}

.topSliderCard {
  height: 30vw;
}

.foreignToursMediaCardsBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mediaTopCardContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 30vw;
}

.mediaCardContextContainer {
    background-color: rgba(253, 251, 248, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 2.5%;
}

.mediaCardContextTextBox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 20vw;
}

.bottomSliderCard {
  height: 20vw;
}

.mediaBottomCardContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 20vw;
}

.bottomMediaCardContextTextBox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 15vw;
}

.imgCover img {
  object-fit: fill;
}

.foreignToursMediaHeadingBox {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.foreignToursMediaHeadingBox h1 {
  margin-left: 5vw;
  font-size: 24px;
}

@media (min-width: 768px) and (max-width: 1200px) {

  .topSliderCard {
  height: 40vw;
}

 .mediaTopCardContentContainer {
  height: 40vw;
 }

 .bottomSliderCard {
  height: 25vw;
}

.mediaBottomCardContentContainer {
  height: 25vw;
}

.mediaCardContextTextBox {
  width: 35vw;
}

.bottomMediaCardContextTextBox {
  width: 20vw;
}
}

@media (max-width: 767px) {

  .topSliderCard {
  height: 70vw;
}

 .mediaTopCardContentContainer {
  height: 70vw;
 }

 .bottomSliderCard {
  height: 40vw;
}

.mediaBottomCardContentContainer {
  height: 40vw;
}

.mediaCardContextTextBox {
  width: 70vw;
}

.bottomMediaCardContextTextBox {
  width: 35vw;
}


}