.profileInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.profileContainer {
    padding: 2vh 5vw;
    width: calc(99% - 10vw);
}

.profileInfo {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profileInfo h1 {
    font-size: 32px;
    margin-left: 1vw;
}

.profileLabel {
    font-size: 20px !important;
}

.profileLogout {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    color: #F60909;
}

.passwordEdition {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profileBackButtonAndHeadingBox {
    display: flex;
    align-items: center;
}

.userProfileInput {
    width: 16vw !important;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .profileInfoContainer .userPanelInfoBox .userPanelInfoBackground img {
        width: 60vw;
    }

    .userProfileInput {
    width: 24vw !important;
}
}

@media (max-width: 767px) {
    .profileInfoContainer {
        flex-direction: column;
    }

    .userProfileInput {
    width: 70vw !important;
}

    .profileInfo {
        order: 2;
    }
}
