#nav-buttons button, #nav-buttons button svg {
  color: #222;
  text-decoration: none;
}

body.dark #nav-buttons button ,
body.dark #nav-buttons button svg {
  text-decoration: none;
  color: #fff;
}

body.dark #nav-buttons button:hover {
  color: #000;
}

.nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
}

#nav-buttons button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  flex: 1 1 0;
}

#nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex: 1 1 0;
}

#nav-buttons button {
  display: flex;
  align-items: center;
border: none;
}

#nav-buttons button svg {
  width: 2rem;
  height: 2rem;
}

.nav-buttons .MuiButton-root {
  padding: 0.5rem !important;
}

#navContactButton {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

@media (max-width: 767px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  #nav-buttons {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 8rem;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  body.dark #nav-buttons {
    background-color: rgba(0, 0, 0, 0.5);
  }

  #nav-buttons.show {
    display: flex;
  }

  #nav-buttons button {
    width: 100%;
    justify-content: flex-start;
    padding: 10px 0;
    border-radius: 0.25rem;
  }

  #nav-buttons button :hover {
    background-color: #8a8989 !important;
  }

  .hamburger {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
    z-index: 20;
  }
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #navContactButton {
    border-bottom-right-radius: 100rem;
  }

  #navHomeButton {
    border-bottom-left-radius: 100rem;
  }
}

