.userPanelLogout {
    color: #F60909;
}

.userPanelContent h1 {
    font-size: 32px;
}

.userPanelButton span {
    font-size: 20px;
    line-height: 24px;
}

.userPanelList {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5vh !important;
}

.userPanelContent {
    height: 60vh;
}
