.searchButton {
  background: transparent !important;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 8px !important;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  --Icon-color: black !important;
}

body.dark .searchButton {
  --Icon-color: white !important;
}

.css-1sp0hsh-JoyButton-root {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.searchButton svg {
    color: black !important;
}

body.dark .searchButton svg {
    color: white !important;
}   

.searchInput {
  width: 0;
  opacity: 0;
  padding: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.searchContainer:hover .searchInput {
  width: 200px;     /* İstədiyin genişliyi buraya yaz */
  opacity: 1;
  padding-left: 8px; /* İçi dolsun deyə padding əlavə et */
}