.MuiChartsAxis-tickLabel {
    font-size: 20px !important;
}

body.dark .MuiChartsAxis-tickLabel {
  fill: #fff !important;
  font-size: 20px !important;
}

.MuiBarLabel-root {
  fill: white !important;
  font-size: 20px !important;
}

.dashboardHeading {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 24px;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .dashChartContainer {
    width: 26rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .css-51fz6w-MuiChartsWrapper-root {
    height: 24rem;
    width: 28rem;
  }

  .dashboardHeading {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .dashChartContainer{
    margin-top: 12vw;
  }
}