.MuiChartsAxis-tickLabel {
    font-size: 20px !important;
}

body.dark .MuiChartsAxis-tickLabel {
  fill: #fff !important;
  font-size: 20px !important;
}

.MuiBarLabel-root {
  fill: white !important;
  font-size: 20px !important;
}

.dashChartContainer {
    margin-top: 8rem !important;
}

.dashboardHeading {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

@media (min-width: 1450px) and (max-width: 1650px) {
  .dashChartContainer {
    margin-top: clamp(calc(8rem - 8vw), calc(8rem - 4vw), 8rem );
  }
}

@media (min-width: 1200px) and (max-width: 1650px) {
  .dashChartContainer {
    margin-top: calc(8rem - 8vw);
  }
}

@media (min-width: 1024px) and (max-width: 1999px) {
  .dashChartContainer {
    margin-top: calc(8rem - 12vw);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .dashChartContainer {
    width: 26rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .css-51fz6w-MuiChartsWrapper-root {
    height: 24rem;
    width: 28rem;
  }

  .dashboardHeading {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .dashChartContainer{
    margin-top: 12vw;
  }

  .css-51fz6w-MuiChartsWrapper-root {
    height: 24rem;
    width: 28rem;
  }
}

@media (max-width: 600px) {
  .dashChartContainer{
    margin-top: 0;
  }
}