
.userPanelHeader,
.userPanelDesktopHeader,
.userPanelHeaderTablet,
.userPanelHeaderMobile,
.userPanelHeaderTopMobile {
  background-color: #0123FF !important;
  color: #fff !important;
}

.userPanelHeader a {
  color: #fff !important;
}

.userPanelNavContainer #nav-buttons .MuiButton-root {
  color: #fff !important;
}

.userPanelHeaderRightSection .searchContainer .MuiButton-root svg {
  color: #fff !important;
}

.userPanelHeaderRightSection .valutaContainer .MuiSelect-root .MuiSelect-startDecorator svg {
  color: #fff !important;
}

.userPanelHeaderRightSection .valutaContainer .MuiSelect-root .MuiSelect-button {
  color: #fff !important;
}

.userPanelHeaderContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.userPanelLogo {
  margin: 0;
  padding: 0;
}

.userPanelHeaderRightSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userPanelNavContainer {
  display: flex;
  align-items: center;
}

.userPanelHeaderContent {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* Ümumi gizli elementlər */

.userPanelDesktopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.2rem;
  margin-top: 2rem;
  border-radius: 6rem;
  height: 58px;
  width: 98vw;

}


.userPanelHeaderTopMobile,
.userPanelHeaderMobile {
  display: none;
}

/* Mobil görünüş üçün */
@media (max-width: 767px) {
  .userPanelHeaderContainer {
    overflow: visible;
    position: relative;
    z-index: 1;
    align-items: center;
  }
  
  .userPanelDesktopHeader {
    display: none;
  }

  .userPanelHeaderTopMobile {
    display: flex;
    justify-content: space-between;
    width: calc(99% - 4vw);
    padding: 2vw;

  }

  .userPanelHeaderMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    width: calc(99% - 4vw);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .userPanelHeaderMobile .userPanelMobileMenuRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }


  /* Search, ModeSwitch, Language, Valuta üçün ölçü tənzimləmələri */
  .userPanelHeaderMobile > .userPanelMobileMenuRow > *:not(.nav) {
    flex-shrink: 0;
  }

  .userPanelHeaderTopLeft {
  display: flex;
  align-items: center;
}

.userPanelHeaderTopRight {
  display: flex;
  align-items: center;
}

.userPanelMobileCarousel {
  margin-top: 11vh;
  width: 100vw;
  box-sizing: border-box;
}

 .userPanelMobileMenuRow .searchContainer .MuiButton-root svg {
    color: #fff !important;
  }

  .userPanelMobileMenuRow .valutaContainer .MuiSelect-root .MuiSelect-startDecorator svg {
  color: #fff !important;
}

  .userPanelMobileMenuRow .valutaContainer .MuiSelect-root .MuiSelect-button {
  color: #fff !important;
}


}

@media (min-width: 768px) and (max-width: 1023px) {
  .userPanelDesktopHeader,
  .userPanelHeaderTopMobile,
  .userPanelHeaderMobile {
    display: none;
  }

  .userPanelHeaderTablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    box-sizing: border-box;
    border-radius: 8rem;
  }


  .userPanelHeaderTabletTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .userPanelHeaderTabletTop > * {
    flex-shrink: 0;
    margin: 5px;
  }

  .userPanelHeaderTabletBottom {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .userPanelHeaderTabletBottom .nav {
    width: 100%;
  }

  .userPanelHeaderTabletTop .searchContainer .MuiButton-root svg {
    color: #fff !important;
  }

  .userPanelHeaderTabletTop .valutaContainer .MuiSelect-root .MuiSelect-startDecorator svg {
  color: #fff !important;
}

  .userPanelHeaderTabletTop .valutaContainer .MuiSelect-root .MuiSelect-button {
  color: #fff !important;
}

.userPanelHeaderTabletBottom .nav #nav-buttons .MuiButton-root {
  color: #fff !important;
}
  
}

@media (max-width: 1023px) {
  .userPanelHeaderTablet,
  .userPanelHeaderMobile,
  .userPanelHeaderTopMobile {
    background-color: #0123FF !important;
    color: #fff !important;
  }

  
}