.userPanelInfoBackground img {
    width: 70vw;
    height: auto;
}

.userPanelContentBox {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.userPanelAvatar img {
    width: 12vw;
    height: auto;
    border-radius: 50%;
    border: 0.6rem solid #fff;
}

.userPanelInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(99% - 2vw);
    position: absolute;
    bottom: -10vw;
    left: 2vw;
}



.userPanelUserInfo h2 {
    font-size: 32px;
}

.userPanelUserInfo h3 {
    font-size: 16px;
}

.userPanelAvatarAndInfo {
    display: flex;
    align-items: center;
}

.userPanelUserInfo {
    margin-left: 2vw;
}

.userPanelInfoBox {
    position: relative;
    margin-bottom: 12vw;
}

@media (max-width: 767px) {
    .userPanelInfoBackground img {
    width: 90vw;
    height: auto;
}

.userPanelInfo {
    bottom: -12vw;
}

.userPanelUserInfo h2 {
    font-size: 24px;
}

.userPanelUserInfo h3 {
    font-size: 12px;
}
}

@media (max-width: 480px) {
    .userPanelInfo {
    bottom: -14vw;
}
}